.contact {
    background: #f7f7f7;
    padding: 25px 30px;
    margin: 0 auto;
    .contact__content {
        background: white;
        border: 1px solid rgb(229, 229, 229);
        padding: 25px 30px;
        .contact__head {
            color: #7d7d7d;
        }
    }
}